    * {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:houver {
        cursor: pointer;
    }
    /* Costomização header */
    
    #logo4safe {
        max-height: 110px;
    }
    
    .header {
        background-color: #3b4f66;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    
    .menu {
        display: flex;
    }
    
    .menu li {
        margin-left: 25px;
        font-size: 18px;
    }
    
    .linha {
        height: 10px;
        background-color: #9bd46d;
    }
    
    @media (max-width: 450px) {
        .menu {
            padding-top: 10px;
        }
    }